.footer {
  background-color: var(--background);
  color: var(--text-secondary);
  padding: 4rem 2rem;
  border-top: 1px solid var(--border-color);
}

.footerContent {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
}

.logo h3 {
  color: var(--text-primary);
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.logo p {
  font-size: 0.9rem;
}

.links {
  display: flex;
  gap: 4rem;
}

.links h4 {
  color: var(--text-primary);
  font-size: 1.2rem;
  margin-bottom: 1rem;
}

.links ul {
  list-style: none;
  padding: 0;
}

.links li {
  margin-bottom: 0.5rem;
}

.links a {
  color: var(--text-secondary);
  text-decoration: none;
  transition: color 0.2s ease-in-out;
}

.links a:hover {
  color: var(--text-link-hover);
}
