.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #1A1730;
  color: white;
}

.logo a {
  color: white;
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  margin-left: 2rem;
}

.navLinks a {
  color: white;
  text-decoration: none;
  font-size: 1.1rem;
}

.navLinks a:hover {
  text-decoration: underline;
}
