.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 4rem;
  background-color: var(--surface);
  border-bottom: 1px solid var(--border-color);
}

.logo a {
  color: var(--text-primary);
  text-decoration: none;
  font-size: 1.5rem;
  font-weight: bold;
}

.navLinks {
  display: flex;
  list-style: none;
}

.navLinks li {
  margin-left: 2.5rem;
}

.navLinks a {
  color: var(--text-secondary);
  text-decoration: none;
  font-size: 1rem;
  font-weight: 500;
  transition: color 0.2s ease-in-out;
}

.navLinks a:hover {
  color: var(--text-link-hover);
}
