:root {
  --max-width: 1100px;
  --border-radius: 12px;
  --font-mono: ui-monospace, Menlo, Monaco, "Cascadia Mono", "Segoe UI Mono",
    "Roboto Mono", "Oxygen Mono", "Ubuntu Monospace", "Source Code Pro",
    "Fira Mono", "Droid Sans Mono", "Courier New", monospace;

  /* Kadena Brand Colors */
  --kadena-pink: #FF4DE3;
  --kadena-purple: #7F00FF;
  --vibrant-indigo: #5A00E0;

  /* Secondary Colors */
  --soft-midnight: #0F0D1A;
  --deep-navy: #1A1730;
  --muted-lavender: #A393FF;

  /* Neutral Colors */
  --white: #FFFFFF;
  --light-gray: #EEEEEE;
  --medium-gray: #BFBFBF;
  --dark-gray: #575757;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  background-color: var(--soft-midnight);
  color: var(--light-gray);
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

a {
  color: var(--muted-lavender);
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

